<div class="container">
    <h1>Amazon Sales Report <br>销售日报</h1>
    <form id="daily-report-form" action="{{ url_for('dataset.daily_report.daily_report') }}" method="POST" enctype="multipart/form-data">
        <label for="project_name">项目名称:</label>
        <select name="project_name" id="project_name" required>
            <option value="">请选择项目</option>
            {% for project in projects %}
            <option value="{{ project }}">{{ project }}</option>
            {% endfor %}
        </select>
        

        <label for="report_date">报表日期:</label>
        <div class="date-container">
            <input type="date" name="report_date" id="report_date" required>
            <button type="button" id="yesterday-btn">昨天</button>
        </div>

        <label for="sales_report">所有订单:
            <a href="{{ url_for('help.orders_report_help') }}" target="_blank" class="help-icon">?</a>
        </label>
        <input type="file" name="sales_report" accept=".txt" required>
        <label for="ad_report">广告报表:
            <a href="{{ url_for('help.ad_product_report') }}" target="_blank" class="help-icon">?</a>
        </label>
        <input type="file" name="ad_report" accept=".xlsx" required>

        <label for="fba_report">FBA库存:
            <a href="{{ url_for('help.fba_inventory_help') }}" target="_blank" class="help-icon">?</a>
        </label>
        <input type="file" name="fba_report" accept=".txt" required>

        <button type="submit">生成日报</button>
    </form>
</div>